<h1 class="text-center">Personajes</h1>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between align-items-center">
      <p class="fw-bold">Total de personajes: {{ charactersCount$ | async }}</p>
      <button class="btn btn-primary" [routerLink]="AppRoutes.AddCharacter.name">Agregar personaje</button>
    </div>
  </div>

  <div class="row">
    <p>
      Primer personaje de la lista:
      <span class="fw-bold">{{firstCharacter$ | async}}</span>
    </p>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    @for (character of (charactres$ | async); track character.id) {
    <div class="col-12 col-md-4 my-2">
      <character-card [character]="character"></character-card>
    </div>
    } @empty {
    <div class="col-12 text-center">
      <h2>No hay personajes</h2>
    </div>
    }
  </div>
</div>